<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>myclient</title>
</head>
<body>
你好！！！
<script id="yd_slot_id_1388">yd_slot_id = "1388";</script>
<script src="http://impservice.union.youdao.com/imp/js/commonAd.js"></script>
</body>
</html>