<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>myclient</title>
<script type="text/javascript" src="SC/start"></script>
</head>
<body>
你好！！！<br />sdfgfdfsdsfadasfdsd
<div id="AD_Sellbuyads"> 
   <script src="http://track.sellbuyads.cn/api/basejs?id=cnd2_cnd3&ext=7577|1387" type="text/javascript"></script> 
</div>

</body>
</html>